<div class="container-fluid justify-content-center align-items-center" [class]="triggerAnimation ? 'color-in' : ''"
     [ngStyle]="{'background': getStyle()}">
  <div class="row text-light">
    <div class="col-10 col-lg-8 my-2 mx-auto" [class]="triggerAnimation ? 'move-up' : ''">
      <app-input-container (sendSelection)="getSelection($event)" [cities$]="cities$"></app-input-container>
    </div>
    <div class="col-12 my-2 mx-auto text-center" [class]="triggerAnimation ? 'move-up' : ''">
      <button class="btn btn-outline-light">Temperature average from
        <input type="date" [ngModel]="from | date:'yyyy-MM-dd'" [min]="minDate" [max]="maxDate"
               (ngModelChange)="from = $event" class="btn date">
        to <input type="date" [ngModel]="to | date:'yyyy-MM-dd'" [min]="minDate" [max]="maxDate"
                  (ngModelChange)="to = $event" class="btn date"></button>
    </div>
    <div class="mx-auto mt-1 col-12">
      <div class="mx-auto d-flex justify-content-center" [class]="dataIsLoading ? 'loading' :'hidden'"><i
        class="fa fa-3x fa-circle-notch"></i></div>
      <app-city-list class="fade-up" (loading)="setLoading($event)" [cities$]="cities$" #cityList></app-city-list>
    </div>
  </div>

</div>
